@model WebController.Controllers.ZLMViewModel
@using WebController.Extensions
@using ZoneLighting
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Zone Lighting Manager";
}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
@*<script type="text/javascript">
    $(document).ready(function () {
        $("#btnInit").click(function () {
            var url = "@Url.Action("InitializeZLM", "ZLM")";
            $.get(url, null, function (data) {
                $("#result").html(data);
            });
        });

        $("#btnUninit").click(function () {
            var url = "@Url.Action("UninitializeZLM", "ZLM")";
            $.get(url, null, function (data) {
                $("#result").html(data);
            });
        });
    });
</script>*@


<script type="text/javascript">
    @*function getCities(abbr) {
        $.ajax({
            url: "@Url.Action("Zones", "Zones")",
            data: { abbreviation: abbr },
            dataType: "json",
            type: "POST",
            error: function () {
                alert("An error occurred.");
            },
            success: function (data) {
                var items = "";
                $.each(data, function (i, item) {
                    items += "<option value=\"" + item.Value + "\">" + item.Text + "</option>";
                });

                $("#City").html(items);
            }
        });
    }*@

    $(document).ready(function () {
        $("#Zone").change(function () {
            var abbr = $("#Zone").val();
            //getCities(abbr);
        });
    });
</script>


@using (Html.BeginForm())
{
    <fieldset>
        <div class="form-group">
            @Html.LabelFor(m => m.Zone)
            @Html.DropDownListFor(m => m.Zone, Model.AvailableZones)
        </div>

        @*<input type="button" id="btnInit" value="Initialize Zone Lighting Manager" />
        <input type="button" id="btnUninit" value="Uninitialize Zone Lighting Manager" />
        <div id="result"></div>
        @Html.DropDownList("Zones", ZoneLightingManager.Instance.Zones.ToSelectList(), new { @class = "form-control", @size = "2", @multiple = "yes" })*@

    </fieldset>
}