@model WebController.Controllers.ZLMViewModel
@using Kendo.Mvc.UI
@using WebController.Extensions
@using ZoneLighting
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Zone Lighting Manager";
}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
@*<script type="text/javascript">
    $(document).ready(function () {
        $("#btnInit").click(function () {
            var url = "@Url.Action("InitializeZLM", "ZLM")";
            $.get(url, null, function (data) {
                $("#result").html(data);
            });
        });

        $("#btnUninit").click(function () {
            var url = "@Url.Action("UninitializeZLM", "ZLM")";
            $.get(url, null, function (data) {
                $("#result").html(data);
            });
        });
    });
</script>*@


<script type="text/javascript">
    @*function getCities(abbr) {
        $.ajax({
            url: "@Url.Action("Zones", "Zones")",
            data: { abbreviation: abbr },
            dataType: "json",
            type: "POST",
            error: function () {
                alert("An error occurred.");
            },
            success: function (data) {
                var items = "";
                $.each(data, function (i, item) {
                    items += "<option value=\"" + item.Value + "\">" + item.Text + "</option>";
                });

                $("#City").html(items);
            }
        });
    }*@

    $(document).ready(function () {
        $("#Zone").change(function () {
            var abbr = $("#Zone").val();
            //getCities(abbr);
        });
    });
</script>



@using (Html.BeginForm())
{
    <fieldset>
        <div class="form-group">
            @(Html.Kendo().DatePicker().Name("datepicker"))

            @Html.LabelFor(m => m.Zone)
            @Html.DropDownListFor(m => m.Zone, Model.AvailableZones, new { @class = "form-control", @multiple = "yes" })
        </div>

        @*<input type="button" id="btnInit" value="Initialize Zone Lighting Manager" />
        <input type="button" id="btnUninit" value="Uninitialize Zone Lighting Manager" />
        <div id="result"></div>
        @Html.DropDownList("Zones", ZoneLightingManager.Instance.Zones.ToSelectList(), new { @class = "form-control", @size = "2", @multiple = "yes" })*@

    </fieldset>
}

<style scoped="scoped">
	.info {
		display: block;
		line-height: 22px;
		padding: 0 5px 5px 0;
		color: #36558e;
	}

	#shipping {
		width: 482px;
		height: 152px;
		padding: 110px 0 0 30px;
		background: url('/Content/web/autocomplete/shipping.png') transparent no-repeat 0 0;
		margin: 30px auto;
	}

	.k-autocomplete
	{
		width: 250px;
		vertical-align: middle;
	}

	.hint {
		line-height: 22px;
		color: #aaa;
		font-style: italic;
		font-size: .9em;
		color: #7496d4;
	}
</style>