@using WebController.Extensions
@using WebController.Helpers
@using ZoneLighting.Usables
@using ZoneLighting.ZoneProgramNS
@model WebController.Models.ZLMVM

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-bar-chart-o"></i> Program Sets
                </h3>
            </div>
            <div class="panel-body">

                @{var grid = new WebGrid(Model.ProgramSets ?? new BetterList<ProgramSet>(), canPage: true, rowsPerPage: 5, ajaxUpdateContainerId: "gridContent");
                    grid.Pager(WebGridPagerModes.NextPrevious);

                }

                <script type='text/javascript'>
                    $(document).ready(function () {
                        jQuery.each($('tbody tr td'), function () {
                            if (this.textContent === "Started") {
                                $(this).siblings().addClass("on");
                                $(this).addClass("on");
                            }
                        });
                    });
                </script>

                <div id="gridContent">
                    @grid.GetHtml("table table-striped table-hover",
                        selectedRowStyle: "on",
                        columns: grid.Columns(
                        grid.Column("Name", "Name"),
                        grid.Column(header: "Program", format: item => Html.Raw(string.Format("<text>{0}</text>", Html.GetProgramNameMarkup(((ProgramSet)((WebGridRow)item).Value), Model.AvailablePrograms.ToSelectList()))), canSort: true),
                        grid.Column("State", "State"),
                        grid.Column(header: "Action", format: (item) => Html.Raw(string.Format("<text>{0}</text>", RazorHelper.GetProgramActionMarkup(((ProgramSet)((WebGridRow)item).Value)))), canSort: true)
                        ))
                </div>


                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Program</th>
                            <th>State</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.ProgramSets != null)
                    {
                        foreach (var programSet in Model.ProgramSets)
                        {
                            <tr>
                                @*-----Program Set Name-----*@
                                <td class="@(programSet.State == ProgramState.Started ? "on" : "") ">
                                    @programSet.Name
                                </td>

                                @*------Program Name----------*@
                                @if (programSet.State == ProgramState.Started)
                                    {
                                    <td class="on">@programSet.ProgramName</td>
}
                                    else
                                    {
                                    <td>
                                        <select class="form-control" style="display: inline-flex; width: inherit;" id='ddl@(programSet.Name)Program'>
                                            @{  foreach (var programName in Model.AvailablePrograms)
                                                    {
                                                <option value="@programName">@programName</option>
                                                    }
                                            }
                                        </select>
                                    </td>   }

                                @*-----------ProgramSet State-------------*@
                                <td class="@(programSet.State == ProgramState.Started ? "on" : "")">
                                    @programSet.State
                                </td>

                                @*----------Action----------*@
                                <td class="@(programSet.State == ProgramState.Started ? "on" : "")">
                                    @if (programSet.State == ProgramState.Stopped)
                                        {
                                        <input type="button" onclick="zlmCommand('start', '@(programSet.Name)', document.getElementById('ddl@(programSet.Name)Program').options[document.getElementById('ddl@(programSet.Name)Program').selectedIndex].text)"
                                               value="Start" class="form-control btn btn-primary inTable" />
}
                                        else
                                        {
                                        <input type="button" onclick="zlmCommand('stop', '@(programSet.Name)')" value="Stop" class="form-control btn btn-primary inTable" />
                                        @*@Html.ActionLink("Stop", "ZLMCommand", "ZLM", new { Command = "stop", @programSetName = programSet.Name }, new { @class = "form-control btn btn-primary inTable" })*@
}
                                    <span id="@(programSet.Name)Loading" style="display: none; text-align: right;">
                                        <img src="~/Content/loadng.gif" alt="Busy..." width="30px" height="30px">
                                    </span>
                                </td>
                            </tr>          }
                                                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function zlmCommand(command, programSetName, programName) {
        var url = '@Url.Action("ZLMCommand", "ZLM")';
        $('#' + programSetName + 'Loading').show();
        $.post(url, { Command: command, programSetName: programSetName, programName: programName }, function (data) {
            $("#programSets").html(data);
            $('#' + programSetName + 'Loading').hide();
        });
    };
</script>